/* règles d'affichage pour smartphone*/
@media all and (min-width: 200px) and (max-width: 599px)
{

body
{
	margin: 0;
}

header
{
	width: auto;
	margin: auto;
	flex-direction: column;
}

#photo
{
	display: none;
}

#entete
{
	width: auto;
	text-align: center;
}

#page
{
	flex-direction: column;
	width: auto;
	margin: auto;
}

aside
{
	order: 2;
	width: auto;
	margin: auto;
}

#propos p
{
	padding-bottom: 8%;
}

article
{
	width: auto;
	margin: auto;
}

.titre_section
{
	justify-content: center;
}

#hide
{
	display: none;
}

.formation, .work
{
	flex-direction: column;
	justify-content: space-between;
}

.formation_text, .work_text
{
	width: auto;
	padding: 0 15px;
}

.reco
{
	text-align: center;
}
}